<!DOCTYPE html>
<html lang="en-US">
{{>collection_head}}
<body>
{{>header}}
<nav>
<ul>
<li><a href="/" title="return home">Home</a></li>
<li><a href="../" title="return to dashboard">Dashboard</a></li>
<li><a href="./?view=create">Add Funder</a></li>
</ul>
</nav>
<section>
<h1>CaltechFUNDERS</h1>
<sortable-table id="funder_list">
<table>
  <thead>
    <tr><th>name</th><th>clfid</th><th>ror</th></tr>
  </thead>
  <tbody>
{{#funder_list}}
  <tr>
    <td><a href="{{clfid}}" title="view funder details">{{name}}</a></td>
    <td>{{clfid}}</td>
    <td>{{#if ror}}<a href="{{ror}}" title="Go to ror.org" target="_blank">{{ror}}</a>{{/if}}</td>
  </tr>
{{/funder_list}}
  </tbody>
</table>
</sortable-table>
</section>
{{>footer}}
<script type="module" src="../js/sortable_table.js"></script>
</body>
</html>
