<!DOCTYPE html>
<html lang="en-US">
{{>head}}
<body>
{{>header}}
<nav>
<ul>
<li><a href="/" title="return home">Home</a></li>
<li><a href="../" title="return to dashboard">Dashboard</a></li>
<li><a href="./" title="return to issn list">ISSNs</a></li>
</ul>
</nav>
<section>

<div class="identifier">ISSN: {{issn.issn}}</div>
<h1>Serial Name: {{issn.name}}</h1>

{{#if issn.alternative_names}}
Other names:
<ul>
{{#issn.alternative_names}}
  <li>{{ . }}</li>
{{/issn.alternative_names}}
</ul>
{{/if}}

{{#if issn.publisher_name}}<h2>Publisher Name: {{issn.publisher_name}}</h2>{{/if}}

{{#if issn.publisher_location}}<div>Publisher Location: {{issn.publisher_location}}</div>{{/if}}

{{#if issn.publisher_address}}<div>Publisher Address: {{issn.publisher_address}}</div>{{/if}}

{{#if issn.description}}<p><div class="description">{{issn.description}}</div>{{/if}}

<div class="labeled_dates">
{{#if issn.updated}}<span class="updated">updated: {{issn.updated}}</span>{{/if}}
</div>


<p>
</section>
{{>footer}}
<code><pre>{{debug_src}}</pre></code>
</body>
</html>
