<!DOCTYPE html>
<html lang="en-US">
{{>collection_head}}
<body>
{{>header}}
<nav>
<ul>
<li><a href="/" title="return home">Home</a></li>
<li><a href="../" title="return to dashboard">Dashboard</a></li>
<li><a href="./?view=create">Add a Person</a></li>
</ul>
</nav>
<section>
<h1>CaltechPEOPLE</h1>
<sortable-table id="people_list">
<table>
  <thead>
    <tr><th>name</th><th>clpid</th><th>orcid</th><th>thesis id</th><th>directory</th></tr>
  </thead>
  <tbody>
{{#people_list}}
  <tr>
    <td><a href="{{clpid}}" title="view people details">{{family_name}}, {{given_name}}</a></td>
    <td>{{clpid}}</td>
    <td>{{#if orcid}}<a href="https://orcid.org/{{orcid}}" title="view at ORCID.org" target="_blank">{{orcid}}</a>{{/if}}</td>
    <td>{{#if thesis_id}}<a href="https://thesis.library.caltech.edu/view/author/{{thesis_id}}.html" title="view at CaltechTHESIS" target="_blank">{{thesis_id}}</a>{{/if}}</td>
    <td>{{#if directory_id}}<a href="https://directory.caltech.edu/personnel/{{directory_id}}" title="view in Caltech Directory" target="_blank">{{directory_id}}</a>{{/if}}</td>
  </tr>
{{/people_list}}
  </tbody>
</table>
</section>
{{>footer}}
<script type="module" src="../js/sortable_table.js"></script>
<script type="module" src="../js/groups_lookup"></script>
</body>
</html>
