<!DOCTYPE html>
<html lang="en-US">
{{>head}}
<body>
{{>header}}
<nav>
<ul>
<li><a href="{{base_path}}/" title="return to dashboard">Dashboard</a></li>
<li><a href="{{base_path}}/people/?view=create">Add a Person</a></li>
</ul>
</nav>
<section>
<h1>CaltechGROUPS</h1>
<ul>
{{#people_list}}
  <li><a href="{{base_path}}/people/{{clpid}}" title="view people details">{{family_name}}, {{given_name}}</a></li>
{{/people_list}}
</ul>
</section>
{{>footer}}
</body>
</html>
