<!DOCTYPE html>
<html lang="en-US">
{{>head}}
<body>
{{>header}}
<nav>
<ul>
<li><a href="/" title="return home">Home</a></li>
<li><a href="../" title="return to dashboard">Dashboard</a></li>
<li><a href="./?view=create">Add a Person</a></li>
</ul>
</nav>
<section>
<h1>CaltechPEOPLE</h1>
<a-to-z-ul id="people_list" long>
<ul>
{{#people_list}}
  <li>
    <a href="{{clpid}}" title="view people details">{{family_name}}, {{given_name}}</a>
    {{#if orcid}} @ORCID: <a href="https://orcid.org/{{orcid}}" title="view at ORCID.org" target="_blank">{{orcid}}</a>{{/if}}
    {{#if directory_id}} @Caltech: <a href="https://directory.caltech.edu/personnel/{{directory_id}}" title="view in Caltech Directory" target="_blank">{{directory_id}}@caltech.edu</a>{{/if}}
    {{#if thesis_id}} @CaltechTHESIS: <a href="https://thesis.library.caltech.edu/view/author/{{thesis_id}}.html" title="view at CaltechTHESIS" target="_blank">{{thesis_id}}</a>{{/if}}
  </li>
{{/people_list}}
</ul>
</section>
{{>footer}}
<script type="module" src="../js/a_to_z_ul.js"></script>
</body>
</html>
