<!DOCTYPE html>
<html lang="en-US">
{{>head}}
<body>
{{>header}}
<nav>
<ul>
<li><a href="/" title="return home">Home</a></li>
<li><a href="../" title="return to dashboard">Dashboard</a></li>
<li><a href="./" title="return to group list">People</a></li>
<li><a href="{{people.clpid}}?view=edit">Edit {{people.clpid}}</a></li>
</ul>
</nav>
<section>

{{#if people.display_name}}<h1>{{people.display_name}}</h1>{{else}}
<h1>{{people.family_name}}{{#if people.given_name}}, {{people.given_name}}{{/if}}</h1>{{/if}}

<div class="identifier">Caltech Library ID: {{#if people.include_in_feeds}}<a href="https://feeds.library.caltech.edu/people/{{people.clpid}}" target="_blank">{{people.clpid}}</a>{{else}}{{people.clpid}}{{/if}}</div>

{{#if people.title}}<p><div class="title">Title: {{people.title}}</div>{{/if}}

{{#if people.bio}}<p><div class="boi">BIO: {{people.bio}}</div>{{/if}}

{{#if people.division}}<p><div class="division">Division: {{people.division}}<div>{{/if}}

{{#if people.groups}}<p><div class="groups">Groups:
<ul>
{{#each people.groups}}
<li>{{.}}</li>
{{/each}}
</ul>
</div>
{{/if}}

{{#if people.email}}<p><div class="email">EMail: {{people.email}}</div>{{/if}}

{{#if people.directory_user_id}}<p>{{#if people.caltech}}
  <div class="directory_user_id">IMSS userid: <a href="https://directory.caltech.edu/personnel/{{people.directory_user_id}}" target="_blank">{{people.directory_user_id}}</a></div>
  {{else}}
  <div class="directory_user_id">IMSS userid: {{people.directory_user_id}} (not at Caltech)</div>
  {{/if}}
{{/if}}

{{#if people.directory_person_type}}<p><div class="directory_person_type">Directory Person Type: {{people.directory_person_type}}</div>{{/if}}

<div class="identifiers">
  {{#if people.orcid}}<div class="orcid">ORCID: <a href="https://orcid.org/{{people.orcid}}" target="_blank">{{people.orcid}}</a></div>{{/if}}
  {{#if people.isni}}<div class="isni">ISNI: {{people.isni}}</div>{{/if}}
  {{#if people.archivesspace_id}}<div class="archivesspace_id">ArchivesSpace ID: <a href="https://collections.archives.caltech.edu/agents/people/{{people.archivesspace_id}}" target="_blank">{{people.archivesspace_id}}</a><div>{{/if}}
  {{#if people.viaf}}<div class="viaf">VIAF: {{people.viaf}}</div>{{/if}}
  {{#if people.lcnaf}}<div class="lcnaf">LCNAF: {{people.lcnaf}}</div>{{/if}}
  {{#if people.wikidata}}<div class="wikidata">Wikidata: {{people.wikidata}}</div>{{/if}}
  {{#if people.snac}}<div class="snac">SNAC: {{people.snac}}</div>{{/if}}
  {{#if people.authors_id}}<div class="authors_id">CaltechAUTHORS ID: <a href="https://authors.library.caltech.edu/search?q=metadata.creators.person_or_org.identifiers.identifier%3A%22{{people.authors_id}}%22&l=list&p=1&s=10&sort=bestmatch" target="_blank">{{people.authors_id}}</a></div>{{/if}}
  {{#if people.thesis_id}}<div class="thesis_id">CaltechTHESIS ID: <a href="https://thesis.library.caltech.edu/view/author/{{people.thesis_id}}.html" target="_blank">{{people.thesis_id}}</a></div>{{/if}}
  {{#if people.advisors_id}}<div class="advisors_id">CaltechTHESIS Advisor ID: <a href="https://thesis.library.caltech.edu/view/advisor/{{people.advisors_id}}.html" target="_blank">{{people.advisors_id}}</a></div>{{/if}}
</div>


<div class="active-affiliations"><p>Institute Affiliation(s):
  <ul>
  {{#if people.caltech}}<li class="is_caltech">Active Caltech {{#if people.ror}}<a href="{{people.ror}}" target="_blank">{{people.ror}}</a>{{/if}}</li>{{/if}}
  {{#if people.jpl}}<li class="is_jpl">Active JPL <a href="https://ror.org/027k65916" target="_blank">https://ror.org/027k65916</a></li>{{/if}}
  </ul>
</div>

<div class="type-affiliation"><p>Affiliation Type(s):
  <ul>
  {{#people.faculty}}<li class="is_faculty">Faculty</li>{{/people.faculty}}
  {{#people.staff}}<li class="is_staff">Staff</li>{{/people.staff}}
  {{#people.alumn}}<li class="is_alumn">Alumn</li>{{/people.alumn}}
  </ul>
</div>

<div class="included-in-feeds">
{{#if people.include_in_feeds}}
{{people.given_name}} {{people.family_name}} is included in feeds
{{else}}
{{people.given_name}} {{people.family_name}} is NOT included in feeds
{{/if}}
</div>


{{#if people.updated}}<p><div class="updated">Record Updated: {{people.updated}}</div>{{/if}}

<p>
{{#if people.internal_notes}}
<div class="internal-notes">
<hr>
Internal Notes:<br>
<blockquote>{{people.internal_notes}}</blockquote>
</div>
{{/if}}
</section>
{{>footer}}
<!-- {{#if debug_src}}<code>{{debug_src}}</code>{{/if}}  -->
</body>
</html>
