<!DOCTYPE html>
<html lang="en-US">
{{>head}}
<body>
{{>header}}
<nav>
<ul>
<li><a href="/" title="return home">Home</a></li>
<li><a href="../" title="return to dashboard">Dashboard</a></li>
<li><a href="./" title="return to group list">People</a></li>
<li><a href="{{people.clpid}}">View {{people.clpid}}</a></li>
</ul>
</nav>
<section>
<h1>{{#isCreateObject}}Create:{{/isCreateObject}}{{^isCreateObject}}Edit:{{/isCreateObject}} {{people.name}}</h1>

<form id="people_edit" name="people_edit" action="{{people.clpid}}" method="post">

<div>
<label set="directory_user_id">Directory User ID</label> <input type="text" id="directory_user_id" name="directory_user_id" value="{{people.directory_user_id}}">
</div>

<div>
<label set="clpid">Caltech Library People ID</label> <input type="text" id="clpid" name="clpid" value="{{people.clpid}}" {{^isCreateObject}}readonly{{/isCreateObject}} required="true" />
</div>

<div>
<label set="orcid">ORCID</label> <input type="text" id="orcid" name="orcid" pattern="https://orcid.org/[0-9][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9X]|[0-9][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9X]" value="{{people.orcid}}" size="36">
</div>

<hr>

<div class="label-input-block">
<label set="display_name">Display Name</label> <input type="text" id="display_name" name="display_name" value="{{people.display_name}}" size="60" /> 
</div>

<div class="label-input-block">
<label set="family_name">Family Name</label> <input type="text" id="family_name" name="family_name" value="{{people.family_name}}" required="true" size="60" />
</div>

<div class="label-input-block">
<label set="given_name">Given/Lived Name</label> <input type="text" id="given_name" name="given_name" value="{{people.given_name}}" required="true" size="60" />
</div>

<div class="label-input-block">
<label set="email">Contact Email</label> <input type="email" id="email" name="email" pattern=".+@.+\.edu" value="{{people.email}}" size="60" />
</div>

<div class="label-input-block">
  <label set="title">Title</label> <input type="text" id="title" name="title" value="{{people.title}}" placeholder="job title" size="80" />
</div>

<div class="label-input-block">
<label set="division">Division</label> <input type="text" id="division" name="division" value="{{people.division}}" placeholder="pulled from directory if empty" size="80" />
</div>

<div>
<label set="groups">Groups</label> 
<csv-textarea id="groups" name="groups" title="Curate the affiliated groups for this person. Enter a group name or alt name in the group name column. Add rows as needed." column-headings="group_name,clgid">
<datalist id="column-0"></datalist>
<textarea id="groups">
{{#each people.groups}}
"{{ group_name }}", "{{ clgid }}"
{{/each}}
</textarea>
</csv-textarea>
</div>

<hr>

<div class="identifiers">

<div>
<label set="ror">Affiliation (ROR for CaltechAUTHORS)</label> <input type="text" id="ror" name="ror" placeholder="https://ror.org/05dxps055" value="{{people.ror}}" >
</div>

<div>
<label set="isni">ISNI</label> <input type="text" id="isni" name="isni" value="{{people.isni}}">
</div>

<div>
<label set="lcnaf">LCNAF</label> <input type="text" id="lcnaf" name="lcnaf" value="{{people.lcnaf}}">
</div>

<div>
<label set="viaf">viaf</label> <input type="text" id="viaf" name="viaf" value="{{people.viaf}}" >
</div>

<div>
<label set="wikidata">Wikidata</label> <input type="text" id="wikidata" name="wikidata" value="{{people.wikidata}}" >
</div>

<div>
<label set="snac">SNAC</label> <input type="text" id="snac" name="snac" value="{{people.snac}}" >
</div>

<div>
<label set="archivesspace_id">ArchivesSpace ID</label> <input type="text" id="archivesspace_id" name="archivesspace_id" value="{{people.archivesspace_id}}" >
</div>

<div>
<label set="authors_id">CaltechAUTHORS ID (historic data)</label> <input type="text" id="authors_id" name="authors_id" value="{{people.authors_id}}" >
</div>

<div>
<label set="thesis_id">CaltechTHESIS ID</label> <input type="text" id="thesis_id" name="thesis_id" value="{{people.thesis_id}}" >
</div>

<div>
<label set="advisors_id">CaltechTHESIS Advisor ID</label> <input type="text" id="advisors_id" name="advisors_id" value="{{people.advisors_id}}" >
</div>
</div>

<hr>

<div class="active-affiliation"><p>Active Affiliation:<br >
<label>Caltech <input type="checkbox" id="caltech" name="caltech" {{#people.caltech}}checked{{/people.caltech}} ></label>
<label>JPL <input type="checkbox" id="jpl" name="jpl" {{#people.jpl}}checked{{/people.jpl}} ></label>
</div>

<div class="affiliation-type"><p>Affiation type:<br >
<label>Faculty <input type="checkbox" id="faculty" name="faculty" {{#people.faculty}}checked{{/people.faculty}} ></label>
<label>Staff <input type="checkbox" id="staff" name="staff" {{#people.staff}}checked{{/people.staff}} ></label>
<label>Alumn <input type="checkbox" id="alumn" name="alumn" {{#people.alumn}}checked{{/people.alumn}} ></label>
</div>

<div class="feeds-status"><p>Feeds status:<br >
<label set="include_in_feeds">Include in feeds <input type="checkbox" id="include_in_feeds" name="include_in_feeds" {{#people.include_in_feeds}}checked{{/people.include_in_feeds}}></label>
</div>

<div class="internal-notes"><label set="internal_notes">Internal Notes:</label><br>
<textarea id="internal_notes" name="internal_notes" rows="10" cols="60" placeholder="Internal Notes for Caltech Library Staff" >{{people.internal_notes}}</textarea>
</div>

<hr>

<div>
<label set="directory_person_type"><a class="#foot_note" href="#directory_note"><sup>◇</sup></a> Directory Person Type</label> <input type="text" id="directory_person_type" name="directory_person_type" value="{{people.directory_person_type}}" placeholder="pulled from directory" readonly>
</div>

<div>
<label set="bio"><a class="foot_note" href="#directory_note"><sup>◇</sup></a> Bio</label><br >
<textarea id="bio" name="bio" rows="10" cols="60" placeholder="pulled from directory" readonly>{{people.bio}}</textarea>
</div>


<p>
{{#if people.updated}}<label set="updated">updated</label> {{people.updated}}{{/if}}
</p>

<div>
<input type="submit" id="submit" name="submit" value="save"> <input type="reset" id="reset" name="reset" value="cancel">
</div>
</form>

<p>
<div class="foot_note" id="directory_note">◇ indicates data managed by <a href="https://directory.caltech.edu">Caltech Directory</a></div>
</section>
{{>footer}}
<script type="module" src="{{base_url}}/modules/directory_client.js"></script>
<script type="module" src="{{base_url}}/modules/client_api.js"></script>
<script type="module" src="{{base_url}}/modules/mdt.js"></script>
<script type="module" src="{{base_url}}/js/csvtextarea.js"></script>
<script type="module" src="{{base_url}}/js/people_edit.js"></script>
</html>
