<!DOCTYPE html>
<html lang="en-US">
{{>head}}
<body>
{{>header}}
<a href="#main-content" class="visually-hidden">skip to main content</a>
<nav>
<ul>
<li><a href="/" title="return home">All Library Apps</a></li>
<li><a href="./" title="return to dashboard">Dashboard</a></li>
<li><a href="reports" title="Refresh reports list">Reports</a></li>
</ul>
</nav>
<section id="main-content">
<h1>Request a Report</h1>

<form id="report-request-form" action="{{report_queue.id}}" method="post">

<div>
<label set="report_name">Report</label>
<select name="report_name" id="report_name">
  <hr />
  <optgroup label="CSV reports">
    <option value="run_people_csv" title="This is a dump of the People collection">Generate People CSV File</option>
    <option value="run_groups_csv" title="This is a dump of the Groups collection">Generate Groups CSV File</option>
    <option value="run_people_identifier_csv" title="This CSV file holds both people names and identifiers">Generate People Identifier CSV</option>
    <option value="run_division_people_csv" title="This report is based on content from campus directory">Generate a Division People CSV</option>
    <option value="run_people_membership_csv" title="This report shows library assigned group membership">Generate a People Membership CSV</option>
    <option value="run_division_people_crosswalk_csv" title="This report crosswalks people and the campus directory division info">Generate Division People Crosswalk CSV</option>
    <option value="run_group_people_crosswalk_csv" title="This report crosswalks people in groups">Generate Group People Crosswalk CSV</option>
    <option value="run_thesis_options_csv" title="This report delivers a list of thesis option names and ids">Generate Thesis Options CSV</option>
  </optgroup>

  <hr />
  <optgroup label="RDM Records and Review Queue">
    <option value="run_authors_records_csv" title="This is a report from the both subbmitted and accepted requests">Generate Authors' Records CSV File</option>
    <option value="run_authors_review_queue_csv" title="This is a report from only the review queue requests">Generate Authors' Review Queue CSV File</option>
  </optgroup>

  <hr />
  <optgroup label="RDM Vocabularies">
    <option value="journal_vocabulary">Generate Journals Vocabulary</option>
    <option value="thesis_option_vocabulary" title="Generate Thesis options">Generate Thesis Option Vocabulary</option>
    <option value="group_vocabulary" title="Generate RDM groups vocabulary">Generate Groups Vocabulary</option>
    <option value="people_vocabulary" title="Generate RDM people vocabulary">Generate People Vocabulary</option>
  </optgroup>

  <optgroup label="Mediated reports">
    <option value="run_collaborator_report" title="Run a colaborator report with a clpid">Collaborator Report</option>
    <option value="run_collaborator_affiliations_report" title="Run a collaborator affiliations report with a clpid">Collaborator Affiliations Report</option>
    <option value="run_publications_by_person_identifiers" title="Run a publications report for a person using clpid and/or ORCID">Publications by Person Identifier</option>
    <option value="run_country_collaboration_report" title="Run a country collaboration report using an ISO 3166-1 alpha-2 country code">Country Collaboration Report</option>
  </optgroup>

</select>

<div id="collaborator-fields" style="display:none">
<label for="clpid">Person (clpid)</label>
<input type="text" id="clpid" name="clpid"
       placeholder="e.g. Doiel-R-S" list="clpid-list"
       autocomplete="on">
<datalist id="clpid-list"></datalist>
<div id="orcid-row" style="display:none">
<label for="orcid">ORCID</label>
<input type="text" id="orcid" name="orcid"
       placeholder="e.g. 0000-0003-0900-6903"
       pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{3}[0-9X]"
       title="ORCID format: NNNN-NNNN-NNNN-NNNN (last character may be X)">
</div>
</div>

<div id="country-fields" style="display:none">
<label for="country_code">Country</label>
<select id="country_code" name="country_code">
  <option value="">-- Select a Country --</option>
  <option value="AF" data-filename="Afghanistan">Afghanistan</option>
  <option value="AL" data-filename="Albania">Albania</option>
  <option value="DZ" data-filename="Algeria">Algeria</option>
  <option value="AS" data-filename="American_Samoa">American Samoa</option>
  <option value="AD" data-filename="Andorra">Andorra</option>
  <option value="AO" data-filename="Angola">Angola</option>
  <option value="AQ" data-filename="Antarctica">Antarctica</option>
  <option value="AG" data-filename="Antigua_and_Barbuda">Antigua and Barbuda</option>
  <option value="AR" data-filename="Argentina">Argentina</option>
  <option value="AM" data-filename="Armenia">Armenia</option>
  <option value="AW" data-filename="Aruba">Aruba</option>
  <option value="AU" data-filename="Australia">Australia</option>
  <option value="AT" data-filename="Austria">Austria</option>
  <option value="AZ" data-filename="Azerbaijan">Azerbaijan</option>
  <option value="BS" data-filename="Bahamas">Bahamas</option>
  <option value="BH" data-filename="Bahrain">Bahrain</option>
  <option value="BD" data-filename="Bangladesh">Bangladesh</option>
  <option value="BB" data-filename="Barbados">Barbados</option>
  <option value="BY" data-filename="Belarus">Belarus</option>
  <option value="BE" data-filename="Belgium">Belgium</option>
  <option value="BZ" data-filename="Belize">Belize</option>
  <option value="BJ" data-filename="Benin">Benin</option>
  <option value="BM" data-filename="Bermuda">Bermuda</option>
  <option value="BT" data-filename="Bhutan">Bhutan</option>
  <option value="BO" data-filename="Bolivia">Bolivia</option>
  <option value="BQ" data-filename="Bonaire_Sint_Eustatius_and_Saba">Bonaire, Sint Eustatius, and Saba</option>
  <option value="BA" data-filename="Bosnia_and_Herzegovina">Bosnia and Herzegovina</option>
  <option value="BW" data-filename="Botswana">Botswana</option>
  <option value="BR" data-filename="Brazil">Brazil</option>
  <option value="VG" data-filename="British_Virgin_Islands">British Virgin Islands</option>
  <option value="BN" data-filename="Brunei">Brunei</option>
  <option value="BG" data-filename="Bulgaria">Bulgaria</option>
  <option value="BF" data-filename="Burkina_Faso">Burkina Faso</option>
  <option value="BI" data-filename="Burundi">Burundi</option>
  <option value="CV" data-filename="Cabo_Verde">Cabo Verde (Cape Verde)</option>
  <option value="KH" data-filename="Cambodia">Cambodia</option>
  <option value="CM" data-filename="Cameroon">Cameroon</option>
  <option value="CA" data-filename="Canada">Canada</option>
  <option value="KY" data-filename="Cayman_Islands">Cayman Islands</option>
  <option value="CF" data-filename="Central_African_Republic">Central African Republic</option>
  <option value="TD" data-filename="Chad">Chad</option>
  <option value="CL" data-filename="Chile">Chile</option>
  <option value="CN" data-filename="China">China (People's Republic of China)</option>
  <option value="CO" data-filename="Colombia">Colombia</option>
  <option value="KM" data-filename="Comoros">Comoros</option>
  <option value="CG" data-filename="Congo_Republic">Congo Republic (Republic of the Congo)</option>
  <option value="CK" data-filename="Cook_Islands">Cook Islands</option>
  <option value="CR" data-filename="Costa_Rica">Costa Rica</option>
  <option value="HR" data-filename="Croatia">Croatia</option>
  <option value="CU" data-filename="Cuba">Cuba</option>
  <option value="CW" data-filename="Curacao">Curaçao</option>
  <option value="CY" data-filename="Cyprus">Cyprus</option>
  <option value="CZ" data-filename="Czechia">Czechia (Czech Republic)</option>
  <option value="CD" data-filename="DR_Congo">DR Congo (Democratic Republic of the Congo)</option>
  <option value="DK" data-filename="Denmark">Denmark</option>
  <option value="DJ" data-filename="Djibouti">Djibouti</option>
  <option value="DM" data-filename="Dominica">Dominica</option>
  <option value="DO" data-filename="Dominican_Republic">Dominican Republic</option>
  <option value="EC" data-filename="Ecuador">Ecuador</option>
  <option value="EG" data-filename="Egypt">Egypt</option>
  <option value="SV" data-filename="El_Salvador">El Salvador</option>
  <option value="GQ" data-filename="Equatorial_Guinea">Equatorial Guinea</option>
  <option value="ER" data-filename="Eritrea">Eritrea</option>
  <option value="EE" data-filename="Estonia">Estonia</option>
  <option value="SZ" data-filename="Eswatini">Eswatini (formerly Swaziland)</option>
  <option value="ET" data-filename="Ethiopia">Ethiopia</option>
  <option value="FK" data-filename="Falkland_Islands">Falkland Islands</option>
  <option value="FO" data-filename="Faroe_Islands">Faroe Islands</option>
  <option value="FJ" data-filename="Fiji">Fiji</option>
  <option value="FI" data-filename="Finland">Finland</option>
  <option value="FR" data-filename="France">France</option>
  <option value="GF" data-filename="French_Guiana">French Guiana</option>
  <option value="PF" data-filename="French_Polynesia">French Polynesia</option>
  <option value="GA" data-filename="Gabon">Gabon</option>
  <option value="GE" data-filename="Georgia">Georgia</option>
  <option value="DE" data-filename="Germany">Germany</option>
  <option value="GH" data-filename="Ghana">Ghana</option>
  <option value="GI" data-filename="Gibraltar">Gibraltar</option>
  <option value="GR" data-filename="Greece">Greece</option>
  <option value="GL" data-filename="Greenland">Greenland</option>
  <option value="GD" data-filename="Grenada">Grenada</option>
  <option value="GP" data-filename="Guadeloupe">Guadeloupe</option>
  <option value="GU" data-filename="Guam">Guam</option>
  <option value="GT" data-filename="Guatemala">Guatemala</option>
  <option value="GG" data-filename="Guernsey">Guernsey</option>
  <option value="GN" data-filename="Guinea">Guinea</option>
  <option value="GW" data-filename="Guinea_Bissau">Guinea-Bissau</option>
  <option value="GY" data-filename="Guyana">Guyana</option>
  <option value="HT" data-filename="Haiti">Haiti</option>
  <option value="HN" data-filename="Honduras">Honduras</option>
  <option value="HK" data-filename="Hong_Kong">Hong Kong</option>
  <option value="HU" data-filename="Hungary">Hungary</option>
  <option value="IS" data-filename="Iceland">Iceland</option>
  <option value="IN" data-filename="India">India</option>
  <option value="ID" data-filename="Indonesia">Indonesia</option>
  <option value="IR" data-filename="Iran">Iran</option>
  <option value="IQ" data-filename="Iraq">Iraq</option>
  <option value="IE" data-filename="Ireland">Ireland</option>
  <option value="IM" data-filename="Isle_of_Man">Isle of Man</option>
  <option value="IL" data-filename="Israel">Israel</option>
  <option value="IT" data-filename="Italy">Italy</option>
  <option value="CI" data-filename="Ivory_Coast">Ivory Coast (Côte d'Ivoire)</option>
  <option value="JM" data-filename="Jamaica">Jamaica</option>
  <option value="JP" data-filename="Japan">Japan</option>
  <option value="JE" data-filename="Jersey">Jersey</option>
  <option value="JO" data-filename="Jordan">Jordan</option>
  <option value="KZ" data-filename="Kazakhstan">Kazakhstan</option>
  <option value="KE" data-filename="Kenya">Kenya</option>
  <option value="KI" data-filename="Kiribati">Kiribati</option>
  <option value="XK" data-filename="Kosovo">Kosovo</option>
  <option value="KW" data-filename="Kuwait">Kuwait</option>
  <option value="KG" data-filename="Kyrgyzstan">Kyrgyzstan</option>
  <option value="LA" data-filename="Laos">Laos</option>
  <option value="LV" data-filename="Latvia">Latvia</option>
  <option value="LB" data-filename="Lebanon">Lebanon</option>
  <option value="LS" data-filename="Lesotho">Lesotho</option>
  <option value="LR" data-filename="Liberia">Liberia</option>
  <option value="LY" data-filename="Libya">Libya</option>
  <option value="LI" data-filename="Liechtenstein">Liechtenstein</option>
  <option value="LT" data-filename="Lithuania">Lithuania</option>
  <option value="LU" data-filename="Luxembourg">Luxembourg</option>
  <option value="MO" data-filename="Macao">Macao (Macau)</option>
  <option value="MG" data-filename="Madagascar">Madagascar</option>
  <option value="MW" data-filename="Malawi">Malawi</option>
  <option value="MY" data-filename="Malaysia">Malaysia</option>
  <option value="MV" data-filename="Maldives">Maldives</option>
  <option value="ML" data-filename="Mali">Mali</option>
  <option value="MT" data-filename="Malta">Malta</option>
  <option value="MQ" data-filename="Martinique">Martinique</option>
  <option value="MR" data-filename="Mauritania">Mauritania</option>
  <option value="MU" data-filename="Mauritius">Mauritius</option>
  <option value="YT" data-filename="Mayotte">Mayotte</option>
  <option value="MX" data-filename="Mexico">Mexico</option>
  <option value="FM" data-filename="Micronesia">Micronesia</option>
  <option value="MD" data-filename="Moldova">Moldova</option>
  <option value="MC" data-filename="Monaco">Monaco</option>
  <option value="MN" data-filename="Mongolia">Mongolia</option>
  <option value="ME" data-filename="Montenegro">Montenegro</option>
  <option value="MS" data-filename="Montserrat">Montserrat</option>
  <option value="MA" data-filename="Morocco">Morocco</option>
  <option value="MZ" data-filename="Mozambique">Mozambique</option>
  <option value="MM" data-filename="Myanmar">Myanmar (Burma)</option>
  <option value="NA" data-filename="Namibia">Namibia</option>
  <option value="NP" data-filename="Nepal">Nepal</option>
  <option value="NC" data-filename="New_Caledonia">New Caledonia</option>
  <option value="NZ" data-filename="New_Zealand">New Zealand</option>
  <option value="NI" data-filename="Nicaragua">Nicaragua</option>
  <option value="NE" data-filename="Niger">Niger</option>
  <option value="NG" data-filename="Nigeria">Nigeria</option>
  <option value="NU" data-filename="Niue">Niue</option>
  <option value="KP" data-filename="North_Korea">North Korea (DPRK)</option>
  <option value="MK" data-filename="North_Macedonia">North Macedonia (formerly FYROM)</option>
  <option value="MP" data-filename="Northern_Mariana_Islands">Northern Mariana Islands</option>
  <option value="NO" data-filename="Norway">Norway</option>
  <option value="OM" data-filename="Oman">Oman</option>
  <option value="PK" data-filename="Pakistan">Pakistan</option>
  <option value="PW" data-filename="Palau">Palau</option>
  <option value="PS" data-filename="Palestine">Palestine</option>
  <option value="PA" data-filename="Panama">Panama</option>
  <option value="PG" data-filename="Papua_New_Guinea">Papua New Guinea</option>
  <option value="PY" data-filename="Paraguay">Paraguay</option>
  <option value="PE" data-filename="Peru">Peru</option>
  <option value="PH" data-filename="Philippines">Philippines</option>
  <option value="PL" data-filename="Poland">Poland</option>
  <option value="PT" data-filename="Portugal">Portugal</option>
  <option value="PR" data-filename="Puerto_Rico">Puerto Rico</option>
  <option value="QA" data-filename="Qatar">Qatar</option>
  <option value="RO" data-filename="Romania">Romania</option>
  <option value="RU" data-filename="Russia">Russia</option>
  <option value="RW" data-filename="Rwanda">Rwanda</option>
  <option value="RE" data-filename="Reunion">Réunion</option>
  <option value="LC" data-filename="Saint_Lucia">Saint Lucia</option>
  <option value="PM" data-filename="Saint_Pierre_and_Miquelon">Saint Pierre and Miquelon</option>
  <option value="WS" data-filename="Samoa">Samoa</option>
  <option value="SM" data-filename="San_Marino">San Marino</option>
  <option value="SA" data-filename="Saudi_Arabia">Saudi Arabia</option>
  <option value="SN" data-filename="Senegal">Senegal</option>
  <option value="RS" data-filename="Serbia">Serbia</option>
  <option value="SC" data-filename="Seychelles">Seychelles</option>
  <option value="SL" data-filename="Sierra_Leone">Sierra Leone</option>
  <option value="SG" data-filename="Singapore">Singapore</option>
  <option value="SX" data-filename="Sint_Maarten">Sint Maarten</option>
  <option value="SK" data-filename="Slovakia">Slovakia</option>
  <option value="SI" data-filename="Slovenia">Slovenia</option>
  <option value="SB" data-filename="Solomon_Islands">Solomon Islands</option>
  <option value="SO" data-filename="Somalia">Somalia</option>
  <option value="ZA" data-filename="South_Africa">South Africa</option>
  <option value="KR" data-filename="South_Korea">South Korea (Republic of Korea)</option>
  <option value="SS" data-filename="South_Sudan">South Sudan</option>
  <option value="ES" data-filename="Spain">Spain</option>
  <option value="LK" data-filename="Sri_Lanka">Sri Lanka</option>
  <option value="KN" data-filename="St_Kitts_and_Nevis">St Kitts and Nevis</option>
  <option value="VC" data-filename="St_Vincent_and_Grenadines">St Vincent and Grenadines</option>
  <option value="SD" data-filename="Sudan">Sudan</option>
  <option value="SR" data-filename="Suriname">Suriname</option>
  <option value="SJ" data-filename="Svalbard_and_Jan_Mayen">Svalbard and Jan Mayen</option>
  <option value="SE" data-filename="Sweden">Sweden</option>
  <option value="CH" data-filename="Switzerland">Switzerland</option>
  <option value="SY" data-filename="Syria">Syria</option>
  <option value="ST" data-filename="Sao_Tome_and_Principe">São Tomé and Príncipe</option>
  <option value="TW" data-filename="Taiwan">Taiwan (Republic of China)</option>
  <option value="TJ" data-filename="Tajikistan">Tajikistan</option>
  <option value="TZ" data-filename="Tanzania">Tanzania</option>
  <option value="TH" data-filename="Thailand">Thailand</option>
  <option value="GM" data-filename="The_Gambia">The Gambia</option>
  <option value="NL" data-filename="The_Netherlands">The Netherlands</option>
  <option value="TL" data-filename="Timor_Leste">Timor-Leste (East Timor)</option>
  <option value="TG" data-filename="Togo">Togo</option>
  <option value="TO" data-filename="Tonga">Tonga</option>
  <option value="TT" data-filename="Trinidad_and_Tobago">Trinidad and Tobago</option>
  <option value="TN" data-filename="Tunisia">Tunisia</option>
  <option value="TM" data-filename="Turkmenistan">Turkmenistan</option>
  <option value="TC" data-filename="Turks_and_Caicos_Islands">Turks and Caicos Islands</option>
  <option value="TV" data-filename="Tuvalu">Tuvalu</option>
  <option value="TR" data-filename="Turkiye">Türkiye (Turkey)</option>
  <option value="VI" data-filename="U_S_Virgin_Islands">U.S. Virgin Islands</option>
  <option value="UG" data-filename="Uganda">Uganda</option>
  <option value="UA" data-filename="Ukraine">Ukraine</option>
  <option value="AE" data-filename="United_Arab_Emirates">United Arab Emirates</option>
  <option value="GB" data-filename="United_Kingdom">United Kingdom</option>
  <option value="US" data-filename="United_States">United States</option>
  <option value="UY" data-filename="Uruguay">Uruguay</option>
  <option value="UZ" data-filename="Uzbekistan">Uzbekistan</option>
  <option value="VU" data-filename="Vanuatu">Vanuatu</option>
  <option value="VA" data-filename="Vatican_City">Vatican City</option>
  <option value="VE" data-filename="Venezuela">Venezuela</option>
  <option value="VN" data-filename="Vietnam">Vietnam</option>
  <option value="EH" data-filename="Western_Sahara">Western Sahara</option>
  <option value="YE" data-filename="Yemen">Yemen</option>
  <option value="ZM" data-filename="Zambia">Zambia</option>
  <option value="ZW" data-filename="Zimbabwe">Zimbabwe</option>
  <option value="AX" data-filename="Aland">Åland</option>
</select>
<input type="hidden" id="country_name" name="country_name">
</div>

<label set="emails">Email notification(s)</label>
<input type="text" id="emails" name="emails" placeholder="rsdoiel@caltech.edu" />
<input type="submit" id="submit" name="submit" value="Request Report">
</div>

<script>
(function() {
  const sel = document.getElementById('report_name');
  const fields = document.getElementById('collaborator-fields');
  const orcidRow = document.getElementById('orcid-row');
  const countryFields = document.getElementById('country-fields');
  const clpidInput = document.getElementById('clpid');
  const orcidInput = document.getElementById('orcid');
  const countrySelect = document.getElementById('country_code');
  const countryNameInput = document.getElementById('country_name');
  const form = document.getElementById('report-request-form');
  let populated = false;

  function update() {
    const isCollab = sel.value === 'run_collaborator_report';
    const isAffil = sel.value === 'run_collaborator_affiliations_report';
    const isPubs = sel.value === 'run_publications_by_person_identifiers';
    const isCountry = sel.value === 'run_country_collaboration_report';
    const needsPersonFields = isCollab || isAffil || isPubs;

    fields.style.display = needsPersonFields ? '' : 'none';
    orcidRow.style.display = isPubs ? '' : 'none';
    countryFields.style.display = isCountry ? '' : 'none';
    clpidInput.required = isCollab || isAffil;
    orcidInput.required = false;

    if (needsPersonFields && !populated) {
      populated = true;
      fetch('./api/people.ds/get_all_clpid')
        .then(r => r.json())
        .then(list => {
          const dl = document.getElementById('clpid-list');
          list.forEach(id => {
            const opt = document.createElement('option');
            opt.value = id;
            dl.appendChild(opt);
          });
        });
    }

  }

  function applyCountrySelection() {
    const opt = countrySelect.options[countrySelect.selectedIndex];
    countryNameInput.value = opt ? (opt.dataset.filename || '') : '';
  }
  countrySelect.addEventListener('change', applyCountrySelection);

  form.addEventListener('submit', function(e) {
    e.preventDefault();
    if (sel.value === 'run_publications_by_person_identifiers') {
      if (!clpidInput.value.trim() && !orcidInput.value.trim()) {
        alert('Please provide at least one of CLPID or ORCID before submitting this report.');
        return;
      }
    }
    if (sel.value === 'run_country_collaboration_report') {
      const cc = countrySelect.value.trim();
      if (!cc || !/^[A-Z]{2}$/.test(cc)) {
        alert('Please select a country from the list before submitting this report.');
        return;
      }
    }
    var body = new URLSearchParams(new FormData(form));
    fetch('./reports', {
      method: 'POST',
      headers: { 'Accept': 'application/json' },
      body: body
    })
      .then(function(r) { return r.json(); })
      .then(function(data) {
        if (data.ok && data.id) {
          window.refreshReportList();
          window.pollReport(data.id);
        } else {
          window.refreshReportList();
        }
      })
      .catch(function() { window.refreshReportList(); });
  });

  sel.addEventListener('change', update);
  update();
})();
</script>

<!--
<div>
</div>
-->

</form>
<p>
(see <a href="report_descriptions.html" title="A detailed list of report names and function">Report Descriptions</a> for details.)
<p>
</section>
<hr>
<section>
<h1>Reports</h1>
<button onclick="window.refreshReportList()">Refresh List</button>
<table id="report-list-table">
  <tr>
    <th>Requested</th>
<!--    <th>Notify</th> -->
    <th>Report Name</th>
    <th>Status</th>
    <th>Link</th>
  </tr>
{{#report_list}}
  <tr>
    <td>{{requested}}</td>
<!--    <td>{{emails}}</td> -->
    <td>{{report_name}}</td>
    <td>{{status}}</td>
    <td>{{#if link}}<a href="{{link}}" target="_blank">{{link}}</a>{{/if}}</td>
  </tr>
{{/report_list}}
</table>
<script>
(function() {
  var reportPollTimer = null;

  window.refreshReportList = function() {
    fetch('./reports')
      .then(function(r) { return r.text(); })
      .then(function(html) {
        var doc = new DOMParser().parseFromString(html, 'text/html');
        var newTable = doc.getElementById('report-list-table');
        var curTable = document.getElementById('report-list-table');
        if (newTable && curTable) {
          curTable.innerHTML = newTable.innerHTML;
        }
      });
  };

  window.pollReport = function(id) {
    clearTimeout(reportPollTimer);
    reportPollTimer = setTimeout(function() {
      fetch('./api/reports.ds/get_report?id=' + encodeURIComponent(id))
        .then(function(r) { return r.json(); })
        .then(function(rows) {
          var row = Array.isArray(rows) ? rows[0] : null;
          var status = row ? (row.status || '').toLowerCase() : '';
          if (status === 'completed' || status === 'error') {
            window.refreshReportList();
          } else {
            window.refreshReportList();
            window.pollReport(id);
          }
        })
        .catch(function() { window.pollReport(id); });
    }, 15000);
  };
})();
</script>
</section>
{{>footer}}
</body>
</html>
