<!DOCTYPE html>
<html lang="en-US">
{{>head}}
<body>
{{>header}}
<nav>
<ul>
<li><a href="/" title="return home">Home</a></li>
<li><a href="./" title="return to dashboard">Dashboard</a></li>
<li><a href="reports" title="Refresh reports list">Reports</a></li>
</ul>
</nav>
<section>
<h1>Request a Report</h1>

<blockquote>
This is a demo of running reports. Not fully implemented yet.
</blockquote>

<form action="{{report_queue.id}}" method="post">

<div>
<label set="report_name">Report</label>
<select name="report_name" id="report_name">
  <option value="run_people_csv">Generate People CSV File</option>
  <option value="run_groups_csv">Generate Groups CSV File</option>
  <option value="run_division_people_csv">Generate a Division People CSV</option>
  <option value="journal_vocabulary">Generate Journals Vocabulary</option>
  <option value="group_vocabulary">Generate Groups Vocabulary</option>
</select>
<label set="emails">Email notification(s)</label>
<input type="text" id="emails" name="emails" placeholder="rsdoiel@caltech.edu" />
<input type="submit" id="submit" name="submit" value="Request Report">
</div>

<!--
<div>
</div>
-->

</form>
</section>
<hr>
<section>
<h1>Reports</h1>
<a href="./reports"><button>Refresh List</button></a>
<table>
  <tr>
    <th>Requested</th>
<!--    <th>Notify</th> -->
    <th>Report Name</th>
    <th>Status</th>
    <th>Link</th>
  </tr>
{{#report_list}}
  <tr>
    <td>{{requested}}</td>
<!--    <td>{{emails}}</td> -->
    <td>{{report_name}}</td>
    <td>{{status}}</td>
    <td>{{#if link}}<a href="{{link}}" target="_blank">{{link}}</a>{{/if}}</td>
  </tr>
{{/report_list}}
</table>
</section>
{{>footer}}
</body>
</html>
