<!DOCTYPE html>
<html lang="en-US">
{{>head}}
<body>
{{>header}}
<nav>
<ul>
<li><a href="/" title="return home">Home</a></li>
<li><a href="../" title="return to dashboard">Dashboard</a></li>
</ul>
</nav>
<section>
<h1>Request a Report</h1>

<form action="{{report_queue.id}}" method="post">

<div>
<label set="report_name">Report</label>
<select name="report_name" id="report_name">
  <option value="rpt_people_csv; text/csv">People File (CSV)</option>
  <option value="rpt_groups_csv; text/csv">Groups File (CSV)</option>
  <option value="rpt_recent_grad_report_csv; text/csv">Recent Grads Report (CSV)</option>
  <option value="rpt_creator_report_csv; text/csv">Creator Report (CSV)</option>
</select>
</div>

<!--
<div>
<label set="report_options">Report Options</label>
<input id="report_options" name="report_options" placeholder="Include any options here.">
</div>
-->

<div>
<label set="emails">Email notification(s)</label>
<input type="text" id="emails" name="emails" placeholder="rsdoiel@caltech.edu" />
</div>

<p>
<input type="submit" id="submit" name="submit" value="submit"> <input type="reset" id="reset" name="reset" value="reset">
</p>
</form>
</section>
<hr>
<section>
<h1>Reports</h1>
<table>
  <tr>
    <th>Requested</th>
    <th>Notify</th>
    <th>Report Name</th>
    <th>Status</th>
    <th>Content Type</th>
    <th>link</th>
  </tr>
{{#report_list}}
  <tr>
    <td>{{requested}}</td>
    <td>{{emails}}</td>
    <td>{{report_name}}</td>
    <td>{{status}}</td>
    <td>{{content_type}}</td>
    <td>{{#if link}}<a href="{{link}}" target="_blank">{{link}}</a>{{/if}}</td>
  </tr>
{{/report_list}}
</table>
</section>
{{>footer}}
</body>
</html>
