<!DOCTYPE html>
<html lang="en-US">
{{>head}}
<body>
{{>header}}
<nav>
<ul>
<li><a href="/" title="return home">Home</a></li>
<li><a href="../" title="return to dashboard">Dashboard</a></li>
</ul>
</nav>
<section>
<h1>Request Report</h1>

<form action="{{report_queue.id}}" method="post">

<div>
<label set="report_name">Report Name</label>
<select name="report_name" id="report_name">
  <option value="rpt_people_csv; text/csv">People (CSV)</option>
  <option value="rpt_groups_csv; text/csv">Groups (CSV)</option>
</select>
</div>

<div>
<label set="report_options">Report Options</label>
<input id="report_options" name="report_options" placeholder="Include any options here.">
</div>

<div>
<label set="email">Notification Email</label>
<input type="email" id="email" name="email" required="true" placeholder="rsdoiel@caltech.edu" />
</div>

<p>
<input type="submit" id="submit" name="submit" value="submit"> <input type="reset" id="reset" name="reset" value="reset">
</p>
</form>
</section>
<hr>
<section>
<h1>Available Reports</h1>
<table>
<th><td>Report Name</td><td>Requested by</td><td>Status</td><td>updated</td></th>
{{#report_list}}
  <tr><td>{{report_name}}</td><td>{{email}}</td><td>{{status}}</td><td>{{updated}}</td></tr>
{{/report_list}}
</table>
</section>
{{>footer}}
</body>
</html>
