<!DOCTYPE html>
<html lang="en-US">
{{>head}}
<body>
{{>header}}
<nav>
<ul>
<li><a href="/" title="return home">Home</a></li>
<li><a href="../" title="return to dashboard">Dashboard</a></li>
<li><a href="./" title="return to subject list">Subjects</a></li>
<li><a href="{{subject.clsid}}">View {{subject.clsid}}</a></li>
</ul>
</nav>
<section>
<h1>{{#isCreateObject}}Create:{{/isCreateObject}}{{^isCreateObject}}Edit:{{/isCreateObject}} {{subject.name}}</h1>

<form action="{{subject.clsid}}" method="post">

<div>
<label set="clsid">clsid</label> <input type="text" id="clsid" name="clsid" value="{{subject.clsid}}" {{^isCreateObject}}readonly{{/isCreateObject}} required="true" />
</div>

<div>
<label set="name">Name</label> <input type="text" id="name" name="name" value="{{subject.name}}" required="true" />
</div>

<div>
<label set="description">Description</label><br >
<textarea id="description" name="description" rows="10" cols="60">{{subject.description}}</textarea>
</div>

<div class="identifiers">
<div>
<label set="doi">doi</label> <input type="doi" id="doi" name="doi" value="{{subject.doi}}" title="Digital Object Identifier">
</div>
</div>

<div>
<label set="updated">record updated</label> <input type="text" id="updated" name="updated" value="{{subject.updated}}" readonly>
</div>

<div>
<input type="submit" id="submit" name="submit" value="submit"> <input type="reset" id="reset" name="reset" value="reset">
</div>
</form>

<p>
</section>
{{>footer}}
<!-- <code><pre>{{debug_src}}</pre></code> -->
</body>
</html>
