<!DOCTYPE html>
<html lang="en-US">
{{>head}}
<body>
{{>header}}
<nav>
<ul>
<li><a href="/" title="return home">Home</a></li>
<li><a href="../" title="return to dashboard">Dashboard</a></li>
<li><a href="./" title="return to Thesis Options list">Thesis Options</a></li>
<li><a href="{{issn.issn}}">View {{issn.name}}</a></li>
</ul>
</nav>
<section>
<h1>{{#isCreateObject}}Create:{{/isCreateObject}}{{^isCreateObject}}Edit:{{/isCreateObject}} {{thesis_option.name}}</h1>

<form action="{{thesis_option.option_id}}" method="post">

<div>
<label set="option_id">Identifier</label> <input type="text" id="option_id" name="option_id" value="{{thesis_option.option_id}}" {{^isCreateObject}}readonly{{/isCreateObject}} required="true" />
</div>

<div>
<label set="name">Name</label> <input type="text" id="name" name="name" value="{{thesis_option.name}}" required="true" />
</div>

<div>
<label set="division">Division</label> <input type="text" id="division" name="division" value="{{thesis_option.division}}" />
</div>

<hr>

<div>
<label set="internal_notes">Internal Notes</label><br >
<textarea id="internal_notes" name="internal_notes" rows="10" cols="60">{{thesis_option.internal_notes}}</textarea>
</div>

<p>
{{#if thesis_option.updated}}<label set="updated">updated</label> {{thesis_option.updated}}{{/if}}
</p>

<div>
<input type="submit" id="submit" name="submit" value="submit"> <input type="reset" id="reset" name="reset" value="reset">
</div>
</form>

<p>
</section>
{{>footer}}
<!-- <code><pre>{{debug_src}}</pre></code> -->
</body>
</html>
