<!DOCTYPE html>
<html lang="en-US">
{{>head}}
<body>
{{>header}}
<nav>
<ul>
<li><a href="/" title="return home">Home</a></li>
<li><a href="../" title="return to dashboard">Dashboard</a></li>
<li><a href="./" title="return to subject list">Subjects</a></li>
<li><a href="{{subject.clsid}}?view=edit">Edit {{subject.clsid}}</a></li>
</ul>
</nav>
<section>

<h1>{{subject.name}}</h1>
<div class="identifier">{{clsid}}</div>

{{#if subject.description}}<div class="description">{{subject.description}}</div>{{/if}}

<div class="identifiers">
  {{#if subject.doi}}<div class="doi">isni: {{subject.doi}}</div>{{/if}}
</div>

<div class="labeled_dates">
{{#if subject.updated}}<span class="updated">updated: {{subject.updated}}</span>{{/if}}
</div>


<p>
</section>
{{>footer}}
<code><pre>{{debug_src}}</pre></code>
</body>
</html>
